In [4]:
%load_ext dotenv
%dotenv

# What are we doing?

## Objectives 


* Build a data pipeline that downloads price data from the internet, stores it locally, transforms it into return data, and stores the feature set.
    - Getting the data.
    - Schemas and index in dask.

* Explore the parquet format.
    - Reading and writing parquet files.
    - Read datasets that are stored in distributed files.
    - Discuss dask vs pandas as a small example of big vs small data.
    
* Discuss the use of environment variables for settings.
* Discuss how to use Jupyter notebooks and source code concurrently. 
* Logging and using a standard logger.

## About the Data

+ We will download the prices for a list of stocks.
+ The source is Yahoo Finance and we will use the API provided by the library yfinance.


## Medallion Architecture

+ The architecture that we are thinking about is called Medallion by [DataBricks](https://www.databricks.com/glossary/medallion-architecture). It is an ELT type of thinking, although our data is well-structured.

![Medallion Architecture (DataBicks)](./images/02_medallion_architecture.png)

+ In our case, we would like to optimize the number of times that we download data from the internet. 
+ Ultimately, we will build a pipeline manager class that will help us control the process of obtaining and transforming our data.

![](./images/02_target_pipeline_manager.png)

# Download Data from Yahoo Finance

Yahoo Finance provides information about public stocks in different markets. The library yfinance gives us access to a fair bit of the data in Yahoo Finance. 

These steps are based on the instructions in:

+ [yfinance documentation](https://pypi.org/project/yfinance/)
+ [Tutorial in geeksforgeeks.org](https://www.geeksforgeeks.org/get-financial-data-from-yahoo-finance-with-python/)

+ If required, install: `python -m pip install yfinance`.
+ To download the price history of a stock, first use the following setup:

In [5]:
import pandas as pd
import yfinance as yf
import os
import sys

sys.path.append(os.getenv('SRC_DIR'))

A few things to notice in the code chunk above:

+ Libraries are ordered from high-level to low-level libraries from the package manager (pip in this case, but could be conda, poetry, etc.)
+ The command `sys.path.append("../05_src/)` will add the `../05_src/` directory to the path in the Notebook's kernel. This way, we can use our modules as part of the notebook.
+ Local modules are imported at the end. 
+ The function `get_logger()` is called with `__name__` as recommended by the documentation.

Now, to download the historical price data for a stock, we could use:

In [6]:
px = yf.download('AAPL', start = "2013-12-01", end = "2024-02-01")
px

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2013-12-02 00:00:00+00:00,17.156237,19.686787,20.154642,19.672144,19.928572,472544800
2013-12-03 00:00:00+00:00,17.625895,20.225714,20.227858,19.917143,19.939285,450968000
2013-12-04 00:00:00+00:00,17.584812,20.178572,20.328215,20.029285,20.196428,377809600
2013-12-05 00:00:00+00:00,17.675062,20.282143,20.540714,20.228930,20.451786,447580000
2013-12-06 00:00:00+00:00,17.429811,20.000713,20.241072,19.984644,20.206785,344352400
...,...,...,...,...,...,...
2024-01-25 00:00:00+00:00,193.011185,194.169998,196.270004,193.110001,195.220001,54822100
2024-01-26 00:00:00+00:00,191.271637,192.419998,194.759995,191.940002,194.270004,44594000
2024-01-29 00:00:00+00:00,190.585739,191.729996,192.199997,189.580002,192.009995,47145600
2024-01-30 00:00:00+00:00,186.917755,188.039993,191.800003,187.470001,190.940002,55859400
2024-01-31 00:00:00+00:00,183.299469,184.399994,187.100006,184.350006,187.039993,55467800

In [7]:
yf.download(['PDD','BABA'], start='2025-01-01', end ='2025-02-10')

[*********************100%***********************]  2 of 2 completed

Price                       Adj Close                   Close              \
Ticker                           BABA         PDD        BABA         PDD
Date
2025-01-02 00:00:00+00:00   84.949997   96.889999   84.949997   96.889999
2025-01-03 00:00:00+00:00   85.540001   96.820000   85.540001   96.820000
2025-01-06 00:00:00+00:00   85.519997   99.019997   85.519997   99.019997
2025-01-07 00:00:00+00:00   84.480003  100.620003   84.480003  100.620003
2025-01-08 00:00:00+00:00   83.690002  100.320000   83.690002  100.320000
2025-01-10 00:00:00+00:00   80.529999   94.680000   80.529999   94.680000
2025-01-13 00:00:00+00:00   80.540001   95.980003   80.540001   95.980003
2025-01-14 00:00:00+00:00   81.680000   98.129997   81.680000   98.129997
2025-01-15 00:00:00+00:00   82.440002  100.699997   82.440002  100.699997
2025-01-16 00:00:00+00:00   82.430000  100.260002   82.430000  100.260002
2025-01-17 00:00:00+00:00   85.120003  105.570000   85.120003  105.570000
2025-01-21 00:00:00+00:00   85.379997  104.150002   85.379997  104.150002
2025-01-22 00:00:00+00:00   86.400002  103.080002   86.400002  103.080002
2025-01-23 00:00:00+00:00   86.099998  104.010002   86.099998  104.010002
2025-01-24 00:00:00+00:00   89.139999  111.339996   89.139999  111.339996
2025-01-27 00:00:00+00:00   89.989998  110.879997   89.989998  110.879997
2025-01-28 00:00:00+00:00   96.029999  112.180000   96.029999  112.180000
2025-01-29 00:00:00+00:00   96.720001  112.040001   96.720001  112.040001
2025-01-30 00:00:00+00:00  102.739998  115.400002  102.739998  115.400002
2025-01-31 00:00:00+00:00   98.839996  111.910004   98.839996  111.910004
2025-02-03 00:00:00+00:00   98.610001  105.239998   98.610001  105.239998
2025-02-04 00:00:00+00:00  102.349998  114.050003  102.349998  114.050003
2025-02-05 00:00:00+00:00   99.279999  110.139999   99.279999  110.139999
2025-02-06 00:00:00+00:00  100.379997  112.720001  100.379997  112.720001
2025-02-07 00:00:00+00:00  103.510002  114.269997  103.510002  114.269997

Price                            High                     Low              \
Ticker                           BABA         PDD        BABA         PDD
Date
2025-01-02 00:00:00+00:00   85.430000   98.459999   84.199997   95.500000
2025-01-03 00:00:00+00:00   85.550003   98.480003   84.760002   95.919998
2025-01-06 00:00:00+00:00   87.360001  103.300003   85.080002   98.440002
2025-01-07 00:00:00+00:00   85.110001  100.779999   83.779999   98.629997
2025-01-08 00:00:00+00:00   83.790001  101.349998   82.720001   98.599998
2025-01-10 00:00:00+00:00   82.250000   98.449997   80.400002   94.620003
2025-01-13 00:00:00+00:00   81.080002   97.099998   80.059998   94.139999
2025-01-14 00:00:00+00:00   82.650002   99.949997   81.489998   97.790001
2025-01-15 00:00:00+00:00   82.790001  100.989998   82.150002   98.000000
2025-01-16 00:00:00+00:00   82.589996  100.949997   81.820000   99.099998
2025-01-17 00:00:00+00:00   85.589996  106.739998   83.029999  100.300003
2025-01-21 00:00:00+00:00   86.900002  108.400002   84.919998  102.879997
2025-01-22 00:00:00+00:00   86.540001  104.489998   84.419998  101.690002
2025-01-23 00:00:00+00:00   86.199997  104.230003   84.959999  101.379997
2025-01-24 00:00:00+00:00   89.190002  111.769997   86.480003  104.970001
2025-01-27 00:00:00+00:00   91.430000  112.330002   89.220001  108.099998
2025-01-28 00:00:00+00:00   96.430000  112.489998   89.900002  107.699997
2025-01-29 00:00:00+00:00  101.279999  113.709999   96.449997  110.459999
2025-01-30 00:00:00+00:00  103.665001  116.690002   97.139999  111.589996
2025-01-31 00:00:00+00:00  102.500000  115.500000   98.000000  111.000000
2025-02-03 00:00:00+00:00  101.870003  108.570000   96.070000  104.800003
2025-02-04 00:00:00+00:00  103.610001  115.199997   99.680000  107.839996
2025-02-05 00:00:00+00:00  101.820000  112.529999   99.029999  108.830002
2025-02-06 00:00:00+00:00  101.739998  112.919998   99.864998  110.500000
2025-02-07 00:00:00+00:00  107.510002  115.980003  103.000000  111.330002

Price                            Open                Volume
Ticker                           BABA         PDD      BABA       PDD
Date
2025-01-02 00:00:00+00:00   84.389999   95.589996  10635700   4898800
2025-01-03 00:00:00+00:00   85.099998   97.989998   7689500   4668900
2025-01-06 00:00:00+00:00   86.550003  101.410004  18077100  10435500
2025-01-07 00:00:00+00:00   84.305000   99.129997  11144100   6759000
2025-01-08 00:00:00+00:00   83.089996   99.059998   9661800   6102600
2025-01-10 00:00:00+00:00   82.250000   98.160004  15393900   8643100
2025-01-13 00:00:00+00:00   80.150002   95.040001  10726600   7073900
2025-01-14 00:00:00+00:00   82.389999   99.230003   8773700   6774500
2025-01-15 00:00:00+00:00   82.629997   99.139999  11655700   6186600
2025-01-16 00:00:00+00:00   82.019997  100.839996   7566500   5805000
2025-01-17 00:00:00+00:00   83.199997  101.500000  21132400  12399200
2025-01-21 00:00:00+00:00   86.870003  108.070000  17099500   9056000
2025-01-22 00:00:00+00:00   85.000000  104.379997  10354800   6094400
2025-01-23 00:00:00+00:00   85.800003  102.220001   9225600   4316500
2025-01-24 00:00:00+00:00   86.709999  105.449997  18791000  12736900
2025-01-27 00:00:00+00:00   90.589996  109.849998  25999800  11132100
2025-01-28 00:00:00+00:00   90.940002  111.330002  31296300   6699500
2025-01-29 00:00:00+00:00   99.389999  113.000000  75053000   5063500
2025-01-30 00:00:00+00:00   97.300003  111.589996  45929000   6905900
2025-01-31 00:00:00+00:00  102.000000  114.220001  36503500   7824000
2025-02-03 00:00:00+00:00   96.504997  105.800003  29282900  15022900
2025-02-04 00:00:00+00:00  100.589996  107.930000  29877500  13018400
2025-02-05 00:00:00+00:00  100.165001  108.989998  17017900  10939700
2025-02-06 00:00:00+00:00  101.250000  111.750000  12774600   5628700
2025-02-07 00:00:00+00:00  104.459999  114.169998  39538200   9575900

## Parametrize the download

+ Generally, we will look to separate every parameter and setting from functions.
+ If we had a few stocks, we could cycle through them. We need a place to store the list of tickers (a db or file, for example).
+ Store a csv file with a few stock tickers. The location of the file is a setting, the contents of this file are parameters.
+ Use **environment variables** to pass parameters.

Start by getting a sample of Information Technology stock tickers by applying subindexing and converting the "ticker" column from a pandas object to a list.

In [8]:
# Load all tickers
ticker_file = os.getenv("TICKERS")
tickers = pd.read_csv(ticker_file)
tickers

,ticker,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",20883,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",42942,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",20883,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",41274,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",40730,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",35709,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",43822,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",37110,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",37064,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",41446,1555280,1952

In [9]:
# AW -- get the path, save it as csv, read it
ticker_file = os.getenv('TICKERS')
pd.read_csv(ticker_file)

,ticker,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",20883,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",42942,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",20883,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",41274,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",40730,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",35709,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",43822,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",37110,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",37064,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",41446,1555280,1952

We can subset our ticker data set using standard indexing techniques. A good reference for this type of data manipulation is Panda's [Documentation](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-and-selecting-data) and [Cookbook](https://pandas.pydata.org/docs/user_guide/cookbook.html#cookbook-selection).

In [10]:
idx_tech = tickers['GICS Sector'] == 'Information Technology'
#tech_sector = tickers[idx_tech]
idx_tech

0      False
1      False
2      False
3      False
4       True
       ...
498    False
499     True
500    False
501    False
502    False
Name: GICS Sector, Length: 503, dtype: bool

In [11]:
idx_tech = tickers['GICS Sector'] == 'Information Technology'
tech_sector = tickers[idx_tech]

In [12]:
tech_sector

,ticker,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",40730,1467373,1989
5,ADBE,Adobe Inc.,Information Technology,Application Software,"San Jose, California",35555,796343,1982
6,AMD,Advanced Micro Devices,Information Technology,Semiconductors,"Santa Clara, California",42814,2488,1969
12,AKAM,Akamai,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",39275,1086222,1998
34,APH,Amphenol,Information Technology,Electronic Components,"Wallingford, Connecticut",39721,820313,1932
...,...,...,...,...,...,...,...,...
450,TRMB,Trimble Inc.,Information Technology,Electronic Equipment & Instruments,"Westminster, Colorado",44217,864749,1978
452,TYL,Tyler Technologies,Information Technology,Application Software,"Plano, Texas",44004,860731,1966
467,VRSN,Verisign,Information Technology,Internet Services & Infrastructure,"Dulles, Virginia",38749,1014473,1995
488,WDC,Western Digital,Information Technology,"Technology Hardware, Storage & Peripherals","San Jose, California",39995,106040,1970
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",43822,877212,1969

From the subset data frame, select one column and convert to list.

In [13]:
tech_sector['ticker'].to_list()

['ACN',
 'ADBE',
 'AMD',
 'AKAM',
 'APH',
 'ADI',
 'ANSS',
 'AAPL',
 'AMAT',
 'ANET',
 'ADSK',
 'AVGO',
 'CDNS',
 'CDW',
 'CSCO',
 'CTSH',
 'GLW',
 'ENPH',
 'EPAM',
 'FFIV',
 'FICO',
 'FSLR',
 'FTNT',
 'IT',
 'GEN',
 'HPE',
 'HPQ',
 'IBM',
 'INTC',
 'INTU',
 'JBL',
 'JNPR',
 'KEYS',
 'KLAC',
 'LRCX',
 'MCHP',
 'MU',
 'MSFT',
 'MPWR',
 'MSI',
 'NTAP',
 'NVDA',
 'NXPI',
 'ON',
 'ORCL',
 'PANW',
 'PTC',
 'QRVO',
 'QCOM',
 'ROP',
 'CRM',
 'STX',
 'NOW',
 'SWKS',
 'SNPS',
 'TEL',
 'TDY',
 'TER',
 'TXN',
 'TRMB',
 'TYL',
 'VRSN',
 'WDC',
 'ZBRA']

In [14]:
tech_tickers = tech_sector['ticker'].to_list()
tech_tickers

['ACN',
 'ADBE',
 'AMD',
 'AKAM',
 'APH',
 'ADI',
 'ANSS',
 'AAPL',
 'AMAT',
 'ANET',
 'ADSK',
 'AVGO',
 'CDNS',
 'CDW',
 'CSCO',
 'CTSH',
 'GLW',
 'ENPH',
 'EPAM',
 'FFIV',
 'FICO',
 'FSLR',
 'FTNT',
 'IT',
 'GEN',
 'HPE',
 'HPQ',
 'IBM',
 'INTC',
 'INTU',
 'JBL',
 'JNPR',
 'KEYS',
 'KLAC',
 'LRCX',
 'MCHP',
 'MU',
 'MSFT',
 'MPWR',
 'MSI',
 'NTAP',
 'NVDA',
 'NXPI',
 'ON',
 'ORCL',
 'PANW',
 'PTC',
 'QRVO',
 'QCOM',
 'ROP',
 'CRM',
 'STX',
 'NOW',
 'SWKS',
 'SNPS',
 'TEL',
 'TDY',
 'TER',
 'TXN',
 'TRMB',
 'TYL',
 'VRSN',
 'WDC',
 'ZBRA']

In [15]:
tech_raw_dt = yf.download(tech_tickers, start = "2000-01-01", end = "2025-01-26")

[*********************100%***********************]  64 of 64 completed

In [16]:
tech_raw_dt

Price                       Adj Close                                      \
Ticker                           AAPL         ACN        ADBE         ADI
Date
2000-01-03 00:00:00+00:00    0.842150         NaN   16.274672   28.095688
2000-01-04 00:00:00+00:00    0.771149         NaN   14.909397   26.674349
2000-01-05 00:00:00+00:00    0.782433         NaN   15.204174   27.063755
2000-01-06 00:00:00+00:00    0.714723         NaN   15.328292   26.323891
2000-01-07 00:00:00+00:00    0.748578         NaN   16.072985   27.063755
...                               ...         ...         ...         ...
2025-01-17 00:00:00+00:00  229.727417  352.589996  429.989990  219.160004
2025-01-21 00:00:00+00:00  222.395477  356.420013  436.359985  221.449997
2025-01-22 00:00:00+00:00  223.584167  359.109985  437.320007  224.080002
2025-01-23 00:00:00+00:00  223.414368  363.260010  437.279999  228.350006
2025-01-24 00:00:00+00:00  222.535324  362.410004  435.380005  217.369995

Price                                                                      \
Ticker                           ADSK        AKAM        AMAT         AMD
Date
2000-01-03 00:00:00+00:00    8.052906  321.250000   23.138018   15.500000
2000-01-04 00:00:00+00:00    7.660817  300.000000   21.994835   14.625000
2000-01-05 00:00:00+00:00    7.178246  283.500000   21.171751   15.000000
2000-01-06 00:00:00+00:00    6.740915  236.125000   21.206041   16.000000
2000-01-07 00:00:00+00:00    7.540174  248.375000   21.388950   16.250000
...                               ...         ...         ...         ...
2025-01-17 00:00:00+00:00  291.450012   91.010002  192.050003  121.459999
2025-01-21 00:00:00+00:00  296.910004   94.709999  192.869995  122.279999
2025-01-22 00:00:00+00:00  301.450012   95.110001  195.509995  123.750000
2025-01-23 00:00:00+00:00  301.079987   95.889999  190.699997  123.040001
2025-01-24 00:00:00+00:00  300.829987   97.699997  186.750000  122.839996

Price                                              ...   Volume          \
Ticker                           ANET        ANSS  ...     SWKS     TDY
Date                                               ...
2000-01-03 00:00:00+00:00         NaN    2.765625  ...   512000  315400
2000-01-04 00:00:00+00:00         NaN    2.687500  ...   292600  444300
2000-01-05 00:00:00+00:00         NaN    2.703125  ...   411800  109100
2000-01-06 00:00:00+00:00         NaN    2.703125  ...   385400  120700
2000-01-07 00:00:00+00:00         NaN    2.703125  ...   536000  222100
...                               ...         ...  ...      ...     ...
2025-01-17 00:00:00+00:00  119.949997  349.929993  ...  2150600  264400
2025-01-21 00:00:00+00:00  121.500000  352.070007  ...  2389300  377400
2025-01-22 00:00:00+00:00  129.820007  356.630005  ...  2774100  668700
2025-01-23 00:00:00+00:00  129.119995  360.359985  ...  1777300  384700
2025-01-24 00:00:00+00:00  129.169998  357.369995  ...  1803300  333500

Price                                                                     \
Ticker                           TEL      TER     TRMB       TXN     TYL
Date
2000-01-03 00:00:00+00:00        NaN  1353500  8025000  10815600  138300
2000-01-04 00:00:00+00:00        NaN  1611800  4963200   7952400  135100
2000-01-05 00:00:00+00:00        NaN  1855800  1930200  12142400  187200
2000-01-06 00:00:00+00:00        NaN   964700  2230800  11758400  107200
2000-01-07 00:00:00+00:00        NaN   809200  2166600  12938800   78900
...                              ...      ...      ...       ...     ...
2025-01-17 00:00:00+00:00  4102600.0  2253700  1010700   5407500  308000
2025-01-21 00:00:00+00:00  2568300.0  4083000  1341800   9621700  235400
2025-01-22 00:00:00+00:00  3162200.0  2262100  1098600   8222000  177300
2025-01-23 00:00:00+00:00  1417800.0  2214300  1210400  12694700  214000
2025-01-24 00:00:00+00:00  1017300.0  2254000   895300  15856600  155300

Price
Ticker                        VRSN      WDC     ZBRA
Date
2000-01-03 00:00:00+00:00  2270100  2461900  1055700
2000-01-04 00:00:00+00:00  3002200  7660300   522450
2000-01-05 00:00:00+00:00  6886600  3944600   612225
2000-01-06 00:00:00+00:00  4003200  2468400   263925
2000-01-07 00:00:00+00:00  3803200  9783000   333900
...                            ...      ...      ...
2025-01-17 00:00:00+00:00   503300  7160500   270600
2025-01-21 00:00:00+00:00   781800  7045600   446000
2025-01-22 00:00:00+00:00   674500  9340500   497500
2025-01-23 00:00:00+00:00   630100  7059500   377100
2025-01-24 00:00:00+00:00   563300  6046500   258900

[6304 rows x 384 columns]

The data that we downloaded combines several stocks and prices into a single row. We want to parse this arrangement into a dataframe that contains observations about a single stock on a given day per row. To do this, we can use the function [`stack()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.stack.html) and re-arrange the indices.

In [17]:
#AW -- stack fuction
tech_raw_dt.stack()

C:\Users\tinti\AppData\Local\Temp\ipykernel_26168\1106809788.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  tech_raw_dt.stack()

Price                              Adj Close       Close        High  \
Date                      Ticker
2000-01-03 00:00:00+00:00 AAPL      0.842150    0.999442    1.004464
                          ADBE     16.274672   16.390625   16.875000
                          ADI      28.095688   45.093750   46.937500
                          ADSK      8.052906    8.343750    8.656250
                          AKAM    321.250000  321.250000  345.500000
...                                      ...         ...         ...
2025-01-24 00:00:00+00:00 TXN     184.158173  185.520004  191.500000
                          TYL     591.929993  591.929993  594.969971
                          VRSN    210.729996  210.729996  210.880005
                          WDC      67.410004   67.410004   69.440002
                          ZBRA    414.609985  414.609985  420.079987

Price                                    Low        Open       Volume
Date                      Ticker
2000-01-03 00:00:00+00:00 AAPL      0.907924    0.936384  535796800.0
                          ADBE     16.062500   16.812500    7384400.0
                          ADI      44.000000   46.750000    3655600.0
                          ADSK      8.031250    8.500000    2845600.0
                          AKAM    311.000000  344.187500     285600.0
...                                      ...         ...          ...
2025-01-24 00:00:00+00:00 TXN     185.029999  190.000000   15856600.0
                          TYL     590.210022  591.400024     155300.0
                          VRSN    206.009995  206.020004     563300.0
                          WDC      67.360001   68.910004    6046500.0
                          ZBRA    413.739990  419.059998     258900.0

[357824 rows x 6 columns]

In [18]:
# First, check what tech_raw_dt.stack() looks like.
tech_raw_dt.stack(future_stack=True).reset_index()

Price,Date,Ticker,Adj Close,Close,High,Low,Open,Volume
0,2000-01-03 00:00:00+00:00,AAPL,0.842150,0.999442,1.004464,0.907924,0.936384,535796800.0
1,2000-01-03 00:00:00+00:00,ACN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03 00:00:00+00:00,ADBE,16.274672,16.390625,16.875000,16.062500,16.812500,7384400.0
3,2000-01-03 00:00:00+00:00,ADI,28.095688,45.093750,46.937500,44.000000,46.750000,3655600.0
4,2000-01-03 00:00:00+00:00,ADSK,8.052906,8.343750,8.656250,8.031250,8.500000,2845600.0
...,...,...,...,...,...,...,...,...
403451,2025-01-24 00:00:00+00:00,TXN,184.158173,185.520004,191.500000,185.029999,190.000000,15856600.0
403452,2025-01-24 00:00:00+00:00,TYL,591.929993,591.929993,594.969971,590.210022,591.400024,155300.0
403453,2025-01-24 00:00:00+00:00,VRSN,210.729996,210.729996,210.880005,206.009995,206.020004,563300.0
403454,2025-01-24 00:00:00+00:00,WDC,67.410004,67.410004,69.440002,67.360001,68.910004,6046500.0
403455,2025-01-24 00:00:00+00:00,ZBRA,414.609985,414.609985,420.079987,413.739990,419.059998,258900.0

In [19]:
tech_dt = (tech_raw_dt
 .stack(future_stack=True)
 .reset_index()
 .sort_values(['Ticker','Date']))

In [37]:
# AW -- checking what the columns are and the index column is 'Price'
tech_dt = (tech_raw_dt
           .stack(future_stack=True)
           .reset_index()
           .sort_values(['Ticker', 'Date']))
#tech_dt.columns.name = None
tech_dt.columns

Index(['Date', 'Ticker', 'Adj Close', 'Close', 'High', 'Low', 'Open',
       'Volume'],
      dtype='object', name='Price')

In [40]:
tech_dt = (tech_raw_dt
           .stack(future_stack=True)
           .reset_index()
           .sort_values(['Ticker', 'Date']))
tech_dt.columns.name = None

# Storing Data in CSV

+ We have some data. How do we store it?
+ We can compare two options, CSV and Parqruet, by measuring their performance:

    - Time to save.
    - Space required.

In [41]:
def get_dir_size(path='.'):
    '''Returns the total size of files contained in path.'''
    total = 0
    with os.scandir(path) as it:
        for entry in it:
            if entry.is_file():
                total += entry.stat().st_size
            elif entry.is_dir():
                total += get_dir_size(entry.path)
    return total

In [22]:
import time

In [43]:
temp = os.getenv("TEMP_DATA")
os.makedirs(temp, exist_ok=True)
stock_path = os.path.join(temp, "stock_px.csv")

In [44]:
tech_dt.shape

(403456, 8)

In [ ]:
# AW -- start a timer 
start = time.time()
tech_dt.to_csv(stock_path, index = False)
end = time.time()

print(f'Writing to dt ({tech_dt.shape})csv took {end - start} seconds.')
print(f'Csv file size { os.path.getsize(stock_path)*1e-6 } MB')

Writing to dt ((403456, 8))csv took 4.311665058135986 seconds.
Csv file size 47.817415999999994 MB

## Save Data to Parquet

### Dask 

We can work with with large data sets and parquet files. In fact, recent versions of pandas support pyarrow data types and future versions will require a pyarrow backend. The pyarrow library is an interface between Python and the Appache Arrow project. The [parquet data format](https://parquet.apache.org/) and [Arrow](https://arrow.apache.org/docs/python/parquet.html) are projects of the Apache Foundation.

However, Dask is much more than an interface to Arrow: Dask provides parallel and distributed computing on pandas-like dataframes. It is also relatively easy to use, bridging a gap between pandas and Spark.

In [46]:
import dask.dataframe as dd

In [47]:
px_dd = dd.from_pandas(tech_dt, npartitions = len(tech_tickers))
parquet_path = os.path.join(temp, "stock_px.parquet")

start = time.time()
px_dd.to_parquet(parquet_path, engine = "pyarrow")
end = time.time()

print(f'Writing dd ({tech_dt.shape}) to parquet took {end - start} seconds.')
print(f'Parquet file size { get_dir_size(parquet_path)*1e-6 } MB')

Writing dd ((403456, 8)) to parquet took 1.3815338611602783 seconds.
Parquet file size 16.595530999999998 MB

### Parquet files and Dask Dataframes

+ Parquet files are immutable: once written, they cannot be modified.
+ Dask DataFrames are a useful implementation to manipulate data stored in parquets.
+ Parquet and Dask are not the same: parquet is a file format that can be accessed by many applications and programming languages (Python, R, PowerBI, etc.), while Dask is a package in Python to work with large datasets using distributed computation.
+ **Dask is not for everything** (see [Dask DataFrames Best Practices](https://docs.dask.org/en/stable/dataframe-best-practices.html)). 

    - Consider cases suchas small to large joins, where the small dataframe fits in memory, but the large one does not. 
    - If possible, use pandas: reduce, then use pandas.
    - Pandas performance tips apply to Dask.
    - Use the index: it is beneficial to have a well-defined index in Dask DataFrames, as it may speed up searching (filtering) the data. A one-dimensional index is allowed.
    - Avoid (or minimize) full-data shuffling: indexing is an expensive operations. 
    - Some joins are more expensive than others. 

        * Not expensive:

            - Join a Dask DataFrame with a pandas DataFrame.
            - Join a Dask DataFrame with another Dask DataFrame of a single partition.
            - Join Dask DataFrames along their indexes.

        * Expensive:

            - Join Dask DataFrames along columns that are not their index.

# How do we store prices?

+ We can store our data as a single blob. This can be difficult to maintain, especially because parquet files are immutable.
+ Strategy: organize data files by ticker and date. Update only latest month.

In [27]:
# CLean up before start
PRICE_DATA = os.getenv("PRICE_DATA")
import shutil
if os.path.exists(PRICE_DATA):
    shutil.rmtree(PRICE_DATA)

In [28]:
for ticker in tech_dt['Ticker'].unique():
    ticker_dt = tech_dt[tech_dt['Ticker'] == ticker]
    ticker_dt = ticker_dt.assign(Year = ticker_dt.Date.dt.year)
    for yr in ticker_dt['Year'].unique():
        yr_dd = dd.from_pandas(ticker_dt[ticker_dt['Year'] == yr],2)
        yr_path = os.path.join(PRICE_DATA, ticker, f"{ticker}_{yr}")
        os.makedirs(os.path.dirname(yr_path), exist_ok=True)
        yr_dd.to_parquet(yr_path, engine = "pyarrow")

Why would we want to store data this way?

+ Easier to maintain. We do not update old data, only recent data.
+ We can also access all files as follows.

# Load, Transform and Save

## Load

+ Parquet files can be read individually or as a collection.
+ `dd.read_parquet()` can take a list (collection) of files as input.
+ Use `glob` to get the collection of files.

In [29]:
from glob import glob
PRICE_DATA = os.getenv("PRICE_DATA")
parquet_files = glob(os.path.join(PRICE_DATA, "**/*.parquet"), recursive = True)
dd_px = dd.read_parquet(parquet_files).set_index("Ticker")

## Transform

+ This transformation step will create a *Features* data set. In our case, features will be stock returns (we obtained prices).
+ Dask dataframes work like pandas dataframes: in particular, we can perform groupby and apply operations.
+ Notice the use of [an anonymous (lambda) function](https://realpython.com/python-lambda/) in the apply statement.

In [30]:
dd_shift = dd_px.groupby('Ticker', group_keys=False).apply(
    lambda x: x.assign(Close_lag_1 = x['Close'].shift(1))
)

C:\Users\tinti\AppData\Local\Temp\ipykernel_26168\3086392435.py:1: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  dd_shift = dd_px.groupby('Ticker', group_keys=False).apply(

In [31]:
dd_rets = dd_shift.assign(
    Returns = lambda x: x['Close']/x['Close_lag_1'] - 1
)

## Lazy Exection

What does `dd_rets` contain?

In [32]:
dd_rets

c:\Users\tinti\miniconda3\envs\dsi_participant\lib\site-packages\pyarrow\pandas_compat.py:766: DeprecationWarning: DatetimeTZBlock is deprecated and will be removed in a future version. Use public APIs instead.
  klass=_int.DatetimeTZBlock,
c:\Users\tinti\miniconda3\envs\dsi_participant\lib\site-packages\pyarrow\pandas_compat.py:766: DeprecationWarning: DatetimeTZBlock is deprecated and will be removed in a future version. Use public APIs instead.
  klass=_int.DatetimeTZBlock,
c:\Users\tinti\miniconda3\envs\dsi_participant\lib\site-packages\pandas\core\frame.py:717: DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.
  warnings.warn(

Dask DataFrame Structure:
                               Date Adj Close    Close     High      Low     Open   Volume   Year Close_lag_1  Returns
npartitions=64
AAPL            datetime64[ns, UTC]   float64  float64  float64  float64  float64  float64  int32     float64  float64
ACN                             ...       ...      ...      ...      ...      ...      ...    ...         ...      ...
...                             ...       ...      ...      ...      ...      ...      ...    ...         ...      ...
ZBRA                            ...       ...      ...      ...      ...      ...      ...    ...         ...      ...
ZBRA                            ...       ...      ...      ...      ...      ...      ...    ...         ...      ...
Dask Name: assign, 9 expressions
Expr=Assign(frame=Assign(frame=GroupByApply(frame=SetIndex(frame=ReadParquetFSSpec(307978c), _other='Ticker', options={}), observed=False, group_keys=False, func=<function <lambda> at 0x000001D848BF5160>, meta=<no_default>, args=(), kwargs={})))

+ Dask is a lazy execution framework: commands will not execute until they are required. 
+ To trigger an execution in dask use `.compute()`.

In [33]:
dd_rets.compute()

Price,Date,Adj Close,Close,High,Low,Open,Volume,Year,Close_lag_1,Returns
Ticker,,,,,,,,,,
AAPL,2000-01-03 00:00:00+00:00,0.842150,0.999442,1.004464,0.907924,0.936384,535796800.0,2000,NaN,NaN
AAPL,2000-01-04 00:00:00+00:00,0.771149,0.915179,0.987723,0.903460,0.966518,512377600.0,2000,0.999442,-0.084310
AAPL,2000-01-05 00:00:00+00:00,0.782433,0.928571,0.987165,0.919643,0.926339,778321600.0,2000,0.915179,0.014633
AAPL,2000-01-06 00:00:00+00:00,0.714723,0.848214,0.955357,0.848214,0.947545,767972800.0,2000,0.928571,-0.086538
AAPL,2000-01-07 00:00:00+00:00,0.748578,0.888393,0.901786,0.852679,0.861607,460734400.0,2000,0.848214,0.047369
...,...,...,...,...,...,...,...,...,...,...
ZBRA,2025-01-17 00:00:00+00:00,405.709991,405.709991,407.290009,402.290009,406.040009,270600.0,2025,402.720001,0.007424
ZBRA,2025-01-21 00:00:00+00:00,418.070007,418.070007,419.850006,407.619995,407.619995,446000.0,2025,405.709991,0.030465
ZBRA,2025-01-22 00:00:00+00:00,420.570007,420.570007,427.760010,419.589996,425.239990,497500.0,2025,418.070007,0.005980
ZBRA,2025-01-23 00:00:00+00:00,421.109985,421.109985,422.290009,414.450012,417.619995,377100.0,2025,420.570007,0.001284
ZBRA,2025-01-24 00:00:00+00:00,414.609985,414.609985,420.079987,413.739990,419.059998,258900.0,2025,421.109985,-0.015435

## Save

+ Apply transformations to calculate daily returns
+ Store the enriched data, the silver dataset, in a new directory.
+ Should we keep the same namespace? All columns?

In [34]:
# CLean up before save
import shutil
FEATURES_DATA = os.getenv("FEATURES_DATA")
if os.path.exists(FEATURES_DATA):
    shutil.rmtree(FEATURES_DATA)
dd_rets.to_parquet(FEATURES_DATA, overwrite = True)

# Optional: from Jupyter to Command Line

+ We have drafted our code in a Jupyter Notebook. 
+ Finalized code should be written in Python modules.

## Object Oriented vs Functional Programming

+ We can use classes to keep parameters and functions together.
+ We *could* use Object Oriented Programming, but parallelization of data manipulation and modelling tasks benefit from *Functional Programming*.
+ An Idea: 

    - [Data Oriented Programming](https://blog.klipse.tech/dop/2022/06/22/principles-of-dop.html).
    - Use the class to bundle together parameters and functions.
    - Use stateless operations and treat all data objects as immutable (we do not modify them, we overwrite them).
    - Take advantage of [`@staticmethod`](https://realpython.com/instance-class-and-static-methods-demystified/).

The code is in `./05_src/`.

Our original design was:

![](./images/02_target_pipeline_manager.png)

The `DataManager` class in `./05_src/data_manager.py` is a simple implementation of the ideas and code discussed in this notebook. The lines below will download data for about 500 stocks from the S&P500. Using this data a few features will be created and stored in the features data set.

First, instantiate an object of class `DataManager`.

In [35]:
from data_manager import DataManager
dm = DataManager()

Download all prices.

In [ ]:
dm.download_all()

2025-02-11 12:25:43,890, data_manager.py, 42, INFO, Getting price data for all tickers.
2025-02-11 12:25:43,894, data_manager.py, 51, INFO, Getting tickers from ../../05_src/data/tickers/sp500_wiki.csv
2025-02-11 12:25:43,915, data_manager.py, 57, INFO, Processing all tickers
2025-02-11 12:25:43,915, data_manager.py, 70, INFO, Processing ticker ['MMM', 'AOS', 'ABT', 'ABBV', 'ACN', 'ADBE', 'AMD', 'AES', 'AFL', 'A', 'APD', 'ABNB', 'AKAM', 'ALB', 'ARE', 'ALGN', 'ALLE', 'LNT', 'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN', 'AMCR', 'AEE', 'AAL', 'AEP', 'AXP', 'AIG', 'AMT', 'AWK', 'AMP', 'AME', 'AMGN', 'APH', 'ADI', 'ANSS', 'AON', 'APA', 'AAPL', 'AMAT', 'APTV', 'ACGL', 'ADM', 'ANET', 'AJG', 'AIZ', 'T', 'ATO', 'ADSK', 'ADP', 'AZO', 'AVB', 'AVY', 'AXON', 'BKR', 'BALL', 'BAC', 'BK', 'BBWI', 'BAX', 'BDX', 'BRK.B', 'BBY', 'BIO', 'TECH', 'BIIB', 'BLK', 'BX', 'BA', 'BKNG', 'BWA', 'BXP', 'BSX', 'BMY', 'AVGO', 'BR', 'BRO', 'BF.B', 'BLDR', 'BG', 'CDNS', 'CZR', 'CPT', 'CPB', 'COF', 'CAH', 'KMX', 'CCL', 'CARR', 'CTLT', 'CAT', 'CBOE', 'CBRE', 'CDW', 'CE', 'COR', 'CNC', 'CNP', 'CF', 'CHRW', 'CRL', 'SCHW', 'CHTR', 'CVX', 'CMG', 'CB', 'CHD', 'CI', 'CINF', 'CTAS', 'CSCO', 'C', 'CFG', 'CLX', 'CME', 'CMS', 'KO', 'CTSH', 'CL', 'CMCSA', 'CMA', 'CAG', 'COP', 'ED', 'STZ', 'CEG', 'COO', 'CPRT', 'GLW', 'CTVA', 'CSGP', 'COST', 'CTRA', 'CCI', 'CSX', 'CMI', 'CVS', 'DHR', 'DRI', 'DVA', 'DAY', 'DE', 'DAL', 'XRAY', 'DVN', 'DXCM', 'FANG', 'DLR', 'DFS', 'DG', 'DLTR', 'D', 'DPZ', 'DOV', 'DOW', 'DHI', 'DTE', 'DUK', 'DD', 'EMN', 'ETN', 'EBAY', 'ECL', 'EIX', 'EW', 'EA', 'ELV', 'LLY', 'EMR', 'ENPH', 'ETR', 'EOG', 'EPAM', 'EQT', 'EFX', 'EQIX', 'EQR', 'ESS', 'EL', 'ETSY', 'EG', 'EVRG', 'ES', 'EXC', 'EXPE', 'EXPD', 'EXR', 'XOM', 'FFIV', 'FDS', 'FICO', 'FAST', 'FRT', 'FDX', 'FIS', 'FITB', 'FSLR', 'FE', 'FI', 'FLT', 'FMC', 'F', 'FTNT', 'FTV', 'FOXA', 'FOX', 'BEN', 'FCX', 'GRMN', 'IT', 'GEHC', 'GEN', 'GNRC', 'GD', 'GE', 'GIS', 'GM', 'GPC', 'GILD', 'GPN', 'GL', 'GS', 'HAL', 'HIG', 'HAS', 'HCA', 'PEAK', 'HSIC', 'HSY', 'HES', 'HPE', 'HLT', 'HOLX', 'HD', 'HON', 'HRL', 'HST', 'HWM', 'HPQ', 'HUBB', 'HUM', 'HBAN', 'HII', 'IBM', 'IEX', 'IDXX', 'ITW', 'ILMN', 'INCY', 'IR', 'PODD', 'INTC', 'ICE', 'IFF', 'IP', 'IPG', 'INTU', 'ISRG', 'IVZ', 'INVH', 'IQV', 'IRM', 'JBHT', 'JBL', 'JKHY', 'J', 'JNJ', 'JCI', 'JPM', 'JNPR', 'K', 'KVUE', 'KDP', 'KEY', 'KEYS', 'KMB', 'KIM', 'KMI', 'KLAC', 'KHC', 'KR', 'LHX', 'LH', 'LRCX', 'LW', 'LVS', 'LDOS', 'LEN', 'LIN', 'LYV', 'LKQ', 'LMT', 'L', 'LOW', 'LULU', 'LYB', 'MTB', 'MRO', 'MPC', 'MKTX', 'MAR', 'MMC', 'MLM', 'MAS', 'MA', 'MTCH', 'MKC', 'MCD', 'MCK', 'MDT', 'MRK', 'META', 'MET', 'MTD', 'MGM', 'MCHP', 'MU', 'MSFT', 'MAA', 'MRNA', 'MHK', 'MOH', 'TAP', 'MDLZ', 'MPWR', 'MNST', 'MCO', 'MS', 'MOS', 'MSI', 'MSCI', 'NDAQ', 'NTAP', 'NFLX', 'NEM', 'NWSA', 'NWS', 'NEE', 'NKE', 'NI', 'NDSN', 'NSC', 'NTRS', 'NOC', 'NCLH', 'NRG', 'NUE', 'NVDA', 'NVR', 'NXPI', 'ORLY', 'OXY', 'ODFL', 'OMC', 'ON', 'OKE', 'ORCL', 'OTIS', 'PCAR', 'PKG', 'PANW', 'PARA', 'PH', 'PAYX', 'PAYC', 'PYPL', 'PNR', 'PEP', 'PFE', 'PCG', 'PM', 'PSX', 'PNW', 'PXD', 'PNC', 'POOL', 'PPG', 'PPL', 'PFG', 'PG', 'PGR', 'PLD', 'PRU', 'PEG', 'PTC', 'PSA', 'PHM', 'QRVO', 'PWR', 'QCOM', 'DGX', 'RL', 'RJF', 'RTX', 'O', 'REG', 'REGN', 'RF', 'RSG', 'RMD', 'RVTY', 'RHI', 'ROK', 'ROL', 'ROP', 'ROST', 'RCL', 'SPGI', 'CRM', 'SBAC', 'SLB', 'STX', 'SRE', 'NOW', 'SHW', 'SPG', 'SWKS', 'SJM', 'SNA', 'SO', 'LUV', 'SWK', 'SBUX', 'STT', 'STLD', 'STE', 'SYK', 'SYF', 'SNPS', 'SYY', 'TMUS', 'TROW', 'TTWO', 'TPR', 'TRGP', 'TGT', 'TEL', 'TDY', 'TFX', 'TER', 'TSLA', 'TXN', 'TXT', 'TMO', 'TJX', 'TSCO', 'TT', 'TDG', 'TRV', 'TRMB', 'TFC', 'TYL', 'TSN', 'USB', 'UBER', 'UDR', 'ULTA', 'UNP', 'UAL', 'UPS', 'URI', 'UNH', 'UHS', 'VLO', 'VTR', 'VLTO', 'VRSN', 'VRSK', 'VZ', 'VRTX', 'VFC', 'VTRS', 'VICI', 'V', 'VMC', 'WRB', 'WAB', 'WBA', 'WMT', 'DIS', 'WBD', 'WM', 'WAT', 'WEC', 'WFC', 'WELL', 'WST', 'WDC', 'WRK', 'WY', 'WHR', 'WMB', 'WTW', 'GWW', 'WYNN', 'XEL', 'XYL', 'YUM', 'ZBRA', 'ZBH', 'ZION', 'ZTS']
2025-02-11 12:25:43,919, data_manager.py, 100, INFO, Getting stock price data for ['MMM', 'AOS', 'ABT', 'ABBV', 'ACN', 'ADBE', 'AMD', 'AES', 'AFL', 'A', 'APD', 'ABNB', 'AKAM', 'ALB', 'ARE', 'ALGN', 'ALLE', 'LNT', 'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN', 'AMCR', 'AEE', 'AAL', 'AEP', 'AXP', 'AIG', 'AMT', 'AWK', 'AMP', 'AME', 'AMGN', 'APH', 'ADI', 'ANSS', 'AON', 'APA', 'AAPL', 'AMAT', 'APTV', 'ACGL', 'ADM', 'ANET', 'AJG', 'AIZ', 'T', 'ATO', 'ADSK', 'ADP', 'AZO', 'AVB', 'AVY', 'AXON', 'BKR', 'BALL', 'BAC', 'BK', 'BBWI', 'BAX', 'BDX', 'BRK.B', 'BBY', 'BIO', 'TECH', 'BIIB', 'BLK', 'BX', 'BA', 'BKNG', 'BWA', 'BXP', 'BSX', 'BMY', 'AVGO', 'BR', 'BRO', 'BF.B', 'BLDR', 'BG', 'CDNS', 'CZR', 'CPT', 'CPB', 'COF', 'CAH', 'KMX', 'CCL', 'CARR', 'CTLT', 'CAT', 'CBOE', 'CBRE', 'CDW', 'CE', 'COR', 'CNC', 'CNP', 'CF', 'CHRW', 'CRL', 'SCHW', 'CHTR', 'CVX', 'CMG', 'CB', 'CHD', 'CI', 'CINF', 'CTAS', 'CSCO', 'C', 'CFG', 'CLX', 'CME', 'CMS', 'KO', 'CTSH', 'CL', 'CMCSA', 'CMA', 'CAG', 'COP', 'ED', 'STZ', 'CEG', 'COO', 'CPRT', 'GLW', 'CTVA', 'CSGP', 'COST', 'CTRA', 'CCI', 'CSX', 'CMI', 'CVS', 'DHR', 'DRI', 'DVA', 'DAY', 'DE', 'DAL', 'XRAY', 'DVN', 'DXCM', 'FANG', 'DLR', 'DFS', 'DG', 'DLTR', 'D', 'DPZ', 'DOV', 'DOW', 'DHI', 'DTE', 'DUK', 'DD', 'EMN', 'ETN', 'EBAY', 'ECL', 'EIX', 'EW', 'EA', 'ELV', 'LLY', 'EMR', 'ENPH', 'ETR', 'EOG', 'EPAM', 'EQT', 'EFX', 'EQIX', 'EQR', 'ESS', 'EL', 'ETSY', 'EG', 'EVRG', 'ES', 'EXC', 'EXPE', 'EXPD', 'EXR', 'XOM', 'FFIV', 'FDS', 'FICO', 'FAST', 'FRT', 'FDX', 'FIS', 'FITB', 'FSLR', 'FE', 'FI', 'FLT', 'FMC', 'F', 'FTNT', 'FTV', 'FOXA', 'FOX', 'BEN', 'FCX', 'GRMN', 'IT', 'GEHC', 'GEN', 'GNRC', 'GD', 'GE', 'GIS', 'GM', 'GPC', 'GILD', 'GPN', 'GL', 'GS', 'HAL', 'HIG', 'HAS', 'HCA', 'PEAK', 'HSIC', 'HSY', 'HES', 'HPE', 'HLT', 'HOLX', 'HD', 'HON', 'HRL', 'HST', 'HWM', 'HPQ', 'HUBB', 'HUM', 'HBAN', 'HII', 'IBM', 'IEX', 'IDXX', 'ITW', 'ILMN', 'INCY', 'IR', 'PODD', 'INTC', 'ICE', 'IFF', 'IP', 'IPG', 'INTU', 'ISRG', 'IVZ', 'INVH', 'IQV', 'IRM', 'JBHT', 'JBL', 'JKHY', 'J', 'JNJ', 'JCI', 'JPM', 'JNPR', 'K', 'KVUE', 'KDP', 'KEY', 'KEYS', 'KMB', 'KIM', 'KMI', 'KLAC', 'KHC', 'KR', 'LHX', 'LH', 'LRCX', 'LW', 'LVS', 'LDOS', 'LEN', 'LIN', 'LYV', 'LKQ', 'LMT', 'L', 'LOW', 'LULU', 'LYB', 'MTB', 'MRO', 'MPC', 'MKTX', 'MAR', 'MMC', 'MLM', 'MAS', 'MA', 'MTCH', 'MKC', 'MCD', 'MCK', 'MDT', 'MRK', 'META', 'MET', 'MTD', 'MGM', 'MCHP', 'MU', 'MSFT', 'MAA', 'MRNA', 'MHK', 'MOH', 'TAP', 'MDLZ', 'MPWR', 'MNST', 'MCO', 'MS', 'MOS', 'MSI', 'MSCI', 'NDAQ', 'NTAP', 'NFLX', 'NEM', 'NWSA', 'NWS', 'NEE', 'NKE', 'NI', 'NDSN', 'NSC', 'NTRS', 'NOC', 'NCLH', 'NRG', 'NUE', 'NVDA', 'NVR', 'NXPI', 'ORLY', 'OXY', 'ODFL', 'OMC', 'ON', 'OKE', 'ORCL', 'OTIS', 'PCAR', 'PKG', 'PANW', 'PARA', 'PH', 'PAYX', 'PAYC', 'PYPL', 'PNR', 'PEP', 'PFE', 'PCG', 'PM', 'PSX', 'PNW', 'PXD', 'PNC', 'POOL', 'PPG', 'PPL', 'PFG', 'PG', 'PGR', 'PLD', 'PRU', 'PEG', 'PTC', 'PSA', 'PHM', 'QRVO', 'PWR', 'QCOM', 'DGX', 'RL', 'RJF', 'RTX', 'O', 'REG', 'REGN', 'RF', 'RSG', 'RMD', 'RVTY', 'RHI', 'ROK', 'ROL', 'ROP', 'ROST', 'RCL', 'SPGI', 'CRM', 'SBAC', 'SLB', 'STX', 'SRE', 'NOW', 'SHW', 'SPG', 'SWKS', 'SJM', 'SNA', 'SO', 'LUV', 'SWK', 'SBUX', 'STT', 'STLD', 'STE', 'SYK', 'SYF', 'SNPS', 'SYY', 'TMUS', 'TROW', 'TTWO', 'TPR', 'TRGP', 'TGT', 'TEL', 'TDY', 'TFX', 'TER', 'TSLA', 'TXN', 'TXT', 'TMO', 'TJX', 'TSCO', 'TT', 'TDG', 'TRV', 'TRMB', 'TFC', 'TYL', 'TSN', 'USB', 'UBER', 'UDR', 'ULTA', 'UNP', 'UAL', 'UPS', 'URI', 'UNH', 'UHS', 'VLO', 'VTR', 'VLTO', 'VRSN', 'VRSK', 'VZ', 'VRTX', 'VFC', 'VTRS', 'VICI', 'V', 'VMC', 'WRB', 'WAB', 'WBA', 'WMT', 'DIS', 'WBD', 'WM', 'WAT', 'WEC', 'WFC', 'WELL', 'WST', 'WDC', 'WRK', 'WY', 'WHR', 'WMB', 'WTW', 'GWW', 'WYNN', 'XEL', 'XYL', 'YUM', 'ZBRA', 'ZBH', 'ZION', 'ZTS'] from 2000-01-01 to 2025-02-11
[**********************77%************           ]  387 of 503 completed

KeyboardInterrupt:

[*********************100%***********************]  502 of 503 completed

Finally, add features to the data set and save to a *feature store*.

In [ ]:
dm.featurize()